/* Estilos generales */
body {
  font-family: 'Carme', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  color: #3b424c;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-container {
  max-width: 600px;
  margin: 0 auto; /* centra el texto dentro del contenedor */
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* O ajusta al alto del contenedor específico si no deseas que ocupe toda la pantalla */
  text-align: center;
}


/* Banner superior */
.banner-superior {
  background-color: #3b424c;
  color: #f69336;
  text-align: center;
  padding: 20px;
}

.banner-superior h1 {
  margin: 0;
  font-family: 'DIN Condensed', sans-serif;
}

.company-name {
  font-family: 'DIN Condensed', sans-serif;
  color: #3b424c;
  margin-bottom: 4px; /* Ajusta este valor según el espaciado deseado */
}

.company-period {
  font-size: 0.9em;
  color: #9fa2a7; /* Color medio para distinguir del nombre de la empresa */
  margin-bottom: 8px; /* Espaciado entre el periodo y la descripción */
}

/* Menú Horizontal en Banner Inferior al Título */
.banner-menu {
  background-color: #9fa2a7;
  padding: 10px 0;
  text-align: center;
}

.menu-horizontal {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-horizontal li {
  display: inline;
}

.menu-horizontal a {
  text-decoration: none;
  color: #3b424c; /* Color oscuro para contrastar con el fondo del menú */
  font-weight: bold;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Esconde el desbordamiento */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si es necesario */
}

.menu-horizontal a:hover {
  color: #f69336;
}


.banner-superior, .banner-menu {
  width: 100%;
  box-sizing: border-box; /* Asegura que el padding no desborde el ancho */
}

@media (max-width: 768px) {
  .menu-horizontal {
    flex-direction: column; /* Cambia a un diseño vertical */
    gap: 10px; /* Reduce el espacio entre los elementos */
  }

  .menu-horizontal li {
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: center; /* Centra los enlaces */
  }
  .banner-superior h1 {
    font-size: 1.5em; /* Reduce el tamaño de la fuente */
  }

  .banner-menu {
    padding: 10px; /* Ajusta el padding */
  }

  .menu-horizontal a {
    font-size: 0.9em; /* Reduce el tamaño del texto */
  }
}


/* Contenedor principal */
.content {
  display: flex;
  flex: 1;
}


/* Contenido principal */

.container, .contenido-principal {
  padding: 0 15px; /* Agrega espacio en los lados */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}


/* Banner inferior */
.banner-inferior {
  background-color: #3b424c;
  text-align: center;
  padding: 10px;
  color: #9fa2a7;
}

.banner-inferior a {
  color: #f69336;
  text-decoration: none;
}

.banner-inferior a:hover {
  text-decoration: underline;
}
